<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Out</title>
</head>
<body>
    <h1>CheckOut</h1>
    <div>
        <div>Thanks for your patronage, {{ name }}</div>
        <div>Email: {{email}}</div>
        <div>{{ticket}}</div>
          <div>Status: {{extractData.status}}</div>
          <div>{{extractData.checkoutURL}}</div>
          <div>Amount: {{amount}}</div>
    </div>
</body>
</html>